*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    margin: 0;
    height: auto;
}
.main-container{
    display: grid;
    max-width: 1000px;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    padding: 20px;
    margin: auto;
   

}
.side-bar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    position:sticky;
    top: 26px;  
}

#border{
   border: 1px solid #3a3a3a;
   margin-bottom: 16px;
   margin-top: 15px;
}
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    
}

/* profile section */

.profile{
    text-align:center;
}
.profile img{
    height: 100px;
    width: 98px;
    border-radius: 50%;
    border: 2px solid #3a3a3a;
}
.profile h2{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 5px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.7rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* contact section */

#Contact{
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
    border: none;
}
.label{
    font-weight: 500;
    font-size: 0.7rem;
    color: #a0a0a0;
}
.value{
    font-weight: 500;
    font-size: 0.8rem;
    color: #e0e0e0;
    text-decoration: none;
}
.email , .phone {
    margin-bottom: 10px;
}

/* social media */


.social{
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
    text-align: center;
    gap: 30px;

}
.icons{
    height: 22px;
    width: 22px;
    border-radius: 40%;
    margin-left: 4px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
    overflow: hidden;
    border: none;
}


        /* Main content */

/* Navigation */

#navigation{
    /* padding: 30px 40px; */
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active, nav a:hover{
    color: #FFBF00;
}

/* about me */

.heading{
    color: #e0e0e0;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height: 4px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
    color: #a0a0a0;
}
#about{
    margin-bottom: 40px;
}

/* skills section */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.item{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    transition: all 0.1s ease, box-shadow 0.1s ease;
}

.item img{
    height: 40px;
    width: 40px;
    background-color:#cc9d10;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item h3{
    font-size: 0.8rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.3);
    border: 2px solid #cc9d10;
}

/* projects */

.project-container{
    margin-top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 30px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0,0.3);
    border: 2px solid #cc9d10;
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: rgb(225, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

.contact-container{
    margin-top: 30px;
}

.contact-container .email, .phone, .location{
    display:flex;
    gap: 5px;
    font-weight: 700;
}

.contact-container .value{
    color: #cc9d10;
    font-size: 16px;
}
.contact-container .label{
    font-size: 16px;
}


/* media query */

/*  TABLET (<= 1200px) */

@media screen and (max-width: 1200px) {

    .main-container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        padding: 20px;
    }

    .side-bar {
        position: relative;   
        top: auto;
        height: auto;
        min-height: auto;
        width: 100%;
        margin: 0;
    }

    .main-content {
        width: 100%;
    }
}



/*  MOBILE (<= 750px) */

@media screen and (max-width: 750px) {

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .side-bar {
        position: relative; 
        top: auto;
        left: auto; 

        width: 100%;
        height: auto;
        min-height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 20px 15px;
        margin: 0;
        gap: 10px;
    }

    .main-content {
        width: 100%;
    }

    /* Navigation */
    #navigation nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    #skills .skills-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* Projects */
    #projects .project-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* Sections spacing */
    #about,
    #skills,
    #projects,
    #Contact {
        padding: 10px 0;
        margin: 0;
    }
}
